# Python
__pycache__/
*.py[cod]
venv/
.env
*.log
logs/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS
.DS_Store

# Reports (опционально)
reports/*.md
reports/*.pdf
